
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap');
*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

:root{
  --backgroundcolor: #006E96;
  --primarybutton: #392958;
  --paddingall: 40px;
  /* 9f7aea */
}

body{
  font-family: 'Poppins',sans-serif;

}

h1{
  font-size:3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size:1.5rem ;
}

h3{
  font-style: italic;
  font-family: 'Kalam', cursive;
 
}

ul{
  padding: 10px;
}
nav{
width: 100%;
background-color: #9f7aea;
height: 100px;
}


/* bigcontainer section */
.boxbig{
  /* justify-content: space-between !important; */
  height: 100%;
  width: 100%;
  gap: 50px;
 
}
.leftcontainer{
  flex-direction: column;
  padding: var(--paddingall); 
  background: var(--backgroundcolor);
  flex-wrap: wrap;
  color: white;
  width: 50%;
  align-items: center;
  
}
.h6{
  font-family: 'Poppins';
  
}

.p2{
  padding-top: 25px;
  padding-bottom: 25px;

}
.p1{
 /* font-style:oblique; */
 font-family: 'Poppins';
 font-size: large;
 font-weight: 700;
 margin: 16px 0px;
 border: 0.2px solid rgb(196, 196, 196);
 text-align: center;
 padding: 15px;
 border-radius: 20px;
}

.leftcontainer h2{
  text-align: center;
}


/* .rightcontainer{
flex-direction:column ;
padding: var(--paddingall); 

}  */

.rightcontainer{
   flex-direction: row;
  /* padding: var(--paddingall);  */
  margin: 20px;
  align-items: center;


 
}

form{
  border: 0.3px solid rgb(203, 203, 203);
  border-radius: 20px;
  /* box-shadow: 60px -16px #392958 ; */
  flex-direction: column;
  height: fit-content;
  width: 700px;
  margin-right: 40px;
 

}

.lablepair{
  justify-content: space-between;
}
.inputfields{
  flex-direction: column;
  gap:35px;  
  padding:var(--paddingall);
  
}

/* CSS */
.calculate {
  background-color: var(--primarybutton);
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
}


.calculate:hover {
  background-color:#4e387a; 
}

.uppersection{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: var(--backgroundcolor);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: white;
  

}

/* utilityclasses */
.flex
{
  display: flex;
   /* align-items: center;  */
 
}